{% extends "base.html" %}
{% block content %}
<h1>Listado de Pruebas</h1>
<ul>
  {% for prueba in pruebas %}
    <li>
      <strong>{{ prueba.nombre }}</strong> -
      {% if prueba.archivo_csv %}
        <a href="{{ prueba.archivo_csv.url }}">Descargar CSV</a>
      {% else %}
        <p>No hay archivo disponible</p>
      {% endif %}
      <a href="{% url 'detalle_prueba' prueba.id %}">Ver Detalles</a>
    </li>
  {% endfor %}
</ul>
<a href="{% url 'crear_prueba' %}">CREAR PRUEBA</a>
{% endblock %}
