/* static/styles.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #2c3e50;
  padding: 20px;
  color: white;
  position: fixed;
  height: 100vh;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.contenido {
  margin-left: 300px;
  padding: 20px;
  flex-grow: 1;
}
